PGADMIN_USER="admin@admin.it"
PGADMIN_PSW="psw"
PGADMIN_PORT="5050"
PGADMIN_PORT_EXT="45050"

AGE_VIEWER_PORT_EXT="43001"

POSTGRES_HOST="137.204.70.156"
POSTGRES_PORT="45432"
POSTGRES_PORT_EXT="45432"
DB_NAME="test_postgres_graphs"

POSTGRES_USER="postgres"
POSTGRES_PSW="psw"
GRAPH_NAME="agri_graph"

WELASER_IP="137.204.74.59"
WELASER_PORT="37017"
WELASER_DB_NAME="persistence-2023_10_02_09_38_44"
WELASER_TASK_COLLECTION="urn:ngsi-ld:AgriFarm:6991ac61-8db8-4a32-8fef-c462e2369055"

AGRITECH_IP="137.204.74.10"
AGRITECH_PORT="27017"
AGRITECH_DB_NAME="persistence"
AGRITECH_TASK_COLLECTION="unibo"

ARCH_HOSTNAME="isi-bigcluster-pnnr-11"

MEASUREMENT_TABLE_SCHEMA=["timestamp", "device_id", "controlledProperty", "location", "value", "raw_value"]
