
CCCONFDIR="/workspace/asterixdb/asterixdb/asterix-server/target/asterix-server-0.9.10-SNAPSHOT-binary-assembly/apache-asterixdb-0.9.10-SNAPSHOT/opt/local/conf"
ASTERIXDB_IP="137.204.74.52"
ASTERIX_PORT=19002
DATASET_NAME="Measurements"
DATAVERSE_NAME="Measurements_Dataverse"

AGRITECH_IP="137.204.74.10"
AGRITECH_PORT="27017"
AGRITECH_DB_NAME="persistence"
AGRITECH_TASK_COLLECTION="unibo"

MEASUREMENT_TABLE_SCHEMA = [
    "timestamp",
    "device_id",
    "controlledProperty",
    "location",
    "value",
    "raw_value",
]
